@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: black;
}
@font-face {
  font-family: "corleone";
  src: url("/corleone.regular.ttf");
}
/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
